# compiled output
/dist
/node_modules
/build
/site

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env*.local
**/*.env

# Docker
.docker

# MkDocs
/site
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Temporary files
tmp/
.tmp/

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Exclude raw secret files
**/secrets.yaml
**/secrets.json
**/secret.yaml
**/secret.json
**/*.env
**/*.key
**/*.pem

# Include sealed/encrypted secrets
!**/sealed-secrets.yaml

# Exclude temporary files
**/.DS_Store
**/tmp/ 